body {
  color: blue;
  min-height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.selectable {
  position: relative;
}

.selectable:hover {
  cursor: pointer;
}

.selectable::after {
  opacity: 0.1;
}

.rounded-left {
  border-top-left-radius: 5px;
  background-color: rgb(255, 160, 51);
}

.rounded-right {
  background-color: rgb(255, 160, 51);
  border-top-right-radius: 5px;
}